#node_modules
node_modules/

#scoring_algorithm_js
circuits/scoring_algorithm_js/
circuits/build/

#circom
*.r1cs
*.sym

#setup
*.ptau
tmp
#zkey
*.zkey
verification_key.json
# verifier.sol
# verifier.sol

#proof
proof.json
public.json
*.wtns

# Circom test circuits
*.test.circom

#.env
sequencer/.env

# etc
.DS_Store
var
pgdata