# Replace with your private key
PRIVATE_KEY=
# Replace with your provider URL
PROVIDER_URL=
# Poseidon contract addresses
POSEIDON2ELEMENTS=
POSEIDON3ELEMENTS=
# Maximum number of transactions
MAXTX=100
# Number of levels
NLEVEL=5
# Sybil Contract Address
SYBIL_CONTRACT_ADDRESS=
# Verifier
VERIFIER=
